.orderItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.dish {
    flex-grow: 1;
    text-align: start;
}

.btn {
    padding: 10px;
    margin: 5px 10px;
}