.App {
    text-align: center;
    margin: 100px;
    font-size: 30px;
}

.App .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.App .order {
    width: 40%;
}

.App .menuList {
    width: 40%;
}
